.container.main-container {
    font-size: 18px
}

.semi-lead {
    font-size: 21px
}

.graphic {
    color: #fff;
    text-shadow: 0 4px 8px #222
}

.graphic a, .graphic a:hover {
    color: #fff;
    text-decoration: underline
}

.graphic a:active, .graphic a:focus {
    text-decoration: none
}

.center-block {
    text-align: center
}

.thumbnail-wh {
    background-color: #fff
}

.thumbnail-bg {
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0 0 10px rgba(75, 46, 76, .3)
}

.thumbnail-pt {
    padding-top: 25px
}

.thumbnail-pt > img {
    transform: scaleX(-1);
    filter: FlipH
}

@media (min-width: 768px) {
    #nav-header::after {
        content: url(/static/cou_site/img/sloth.png);
        position: absolute;
        left: 5px;
        top: 47px;
        z-index: 10
    }

    #navbar > ul > li.active > a {
        border-radius: 10px;
        margin-top: -20px;
        top: 27px;
        padding-top: 8px;
        padding-bottom: 8px
    }

    #navbar li > a:hover {
        color: #ac6baf !important
    }
}

.page-header {
    color: #4b2e4c;
    margin-top: 0;
    border-bottom: none
}

.section-divider {
    border-bottom: 2px solid teal;
    padding-bottom: 0
}

hr {
    border-top: 2px solid #ddd
}

.pl-sp {
    margin-right: 20px;
}