.navbar-center {
	margin-left: 14%;
}

@media (max-width: 767px) {
	.navbar-center {
		margin-left: calc(50% - 50px);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-center {
		float: right;
	}
}

/* HEADER */

/* no rounded navbar, it fills the width of the screen */
.navbar#nav-header {
	border-radius: 0;
}

/* purple links */
.navbar a {
	color: #4b2e4c !important;
}

/* social links */

#social-fa-links {
	margin-left: 10px;
	font-size: 130%;
}

#social-fa-links > a,
#social-fa-links > a:hover,
#social-fa-links > a:active,
#social-fa-links > a:focus {
	text-decoration: none;
	display: inline-block;
	margin-right: 0;
	margin-left: 0;
	padding-left: 1px;
	padding-right: 1px;

}

#social-fa-links > a > .fa-google-plus-square {
	color: #DD4B39;
}

#social-fa-links > a > .fa-facebook-square {
	color: #3B5998;
}

#social-fa-links > a > .fa-twitter-square {
	color: #55ACEE;
}

#social-fa-links > a > .fa-github-square {
	color: #000000;
}

#social-fa-links > a > .fa-envelope-square {
	color: #EB9316;
}

#social-fa-links > a:hover {
	opacity: 0.7;
}

#social-fa-links > a:active,
#social-fa-links > a:focus {
	opacity: 0.9;
}

/* FOOTER */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 50px;*/
	background: #fafafa;
	box-shadow: none;
}

.footer .navbar-text {
	margin-left: 0;
	margin-right: 0;
}

/* footer on background image pages (404) */
body.randbg .footer {
	background-color: rgba(0,0,0,0.5);
}

body.randbg .footer a {
	color: #aaa;
}

body.randbg .footer .navbar-text {
	color: #eee;
}

body.randbg .footer .popover {
	color: #333;
}

body.randbg .footer .popover a {
	color: teal;
}

/* anchor position adjustment for fixed nav */

a.anchor {
	display: block;
	visibility: hidden;
	position: relative;
	top: 0px;
}

/* Clock */

#couclockwidget {
	visibility: hidden;
	position: absolute;
	top: 45px;
	right: 0;
	text-align: center;
	background-color: #fafafa;
	padding: 10px;
	border-bottom-left-radius: 8px;
	font-size: 14px;
	z-index: 1024;
	margin-top: 5px;
}

.error404 #couclockwidget {
	background-color: rgba(0,0,0,0.5);
	color: white;
	top: 45px;
	box-shadow: none;
}

#couclockwidget[loaded] {
	visibility: visible;
}

.page.home #couclockwidget,
.page.randbg #couclockwidget,
.page.page-template-page-profiles #couclockwidget,
.blog #couclockwidget {
  box-shadow: -1px 3px 3px rgba(89, 89, 89, 0.5);
  margin-top: 0;
  top: 50px;
}

.coucw-time {
	font-weight: bold;
	font-size: 16px;
}