#note-board {
    width: 100%;
    height: auto;
    background-color: #E6AB6F;
    background-image: url(/static/cou_site/img/notes/cork-board.jpg);
    border: 35px solid #A27F4A;
    border-image: url(/static/cou_site/img/notes/wood.png) 25% repeat;
}

#note-loading {
    color: white;
    text-align: center;
    margin: 2em;
    text-shadow: 0 0 20px #000;
}

#note-list,
#note-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#note-list li {
    background-image: url(/static/cou_site/img/notes/notepaper.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 24px;
    margin: 12px;
    display: inline-block;
    width: calc(33% - 24px);
    height: auto;
    vertical-align: top;
    font-size: 14px;
}

#note-list li b {
    font-size: 18px;
}

@media(max-width: 600px) {
    #note-list li {
        width: calc(50% - 24px);
    }
}