a.thumbnail:hover, a.thumbnail:active, a.thumbnail:focus {
    text-decoration: none
}

.profile-img.img-circle {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff
}