{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {% block title %}<title>Children of Ur</title>{% endblock title %}
    <meta name="description" content="A community remake of Glitch™ - A Game of Giant Imagination"/>
    <meta name="keywords"
          content="Children of Ur, CoU, community, remake, Glitch, Glitch the Game, Ur, Eleven, Giant, Giant Imagination, imagination"/>
    <link rel="icon" href="{% static "cou_site/img/icons/favicon.ico" %}">
    <link rel="shortcut icon" href="{% static "cou_site/img/icons/favicon.png" %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Source+Code+Pro:400,700|Varela+Round|Patrick+Hand|Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet:800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&effect=3d|3d-float" rel="stylesheet"
          type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static "cou_site/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "cou_site/css/defaults.css" %}">
    <link rel="stylesheet" href="{% static "cou_site/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "cou_site/css/nav.css" %}">
    {% block styles %}{% endblock styles %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation" id="nav-header">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="hidden-sm hidden-md">Children of </span>
                <img src="{% static "cou_site/img/icons/cou_ur.svg" %}" height="100%" width="auto" alt="Ur"
                     style="margin-top: -5px;">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% for page in pages %}
                    <li class="{% if page.url == active_page %}active{% endif %}">
                        <a href="{{ page.url }}">{{ page.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://childrenofur.com/game/">Play</a></li>
                <li id="logincontrol-loggedout" style="display: none;">
                    <a href="log-in">Log In</a>
                </li>
                <li id="logincontrol-loggedin" style="display: none;" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="loggedin-username">Logged In</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="loggedin-profilelink">View My Profile</a>
                        <li><a onClick="logoutFirebase();" href="#">Log Out</a></li>
                    </ul>
                </li>
                <li id="social-fa-links" class="hidden-sm">
                    <a title="Children of Ur on Facebook" href="https://www.facebook.com/childrenofur">
                        <i class="fa fa-fw fa-facebook-square"></i>
                    </a>
                    <a title="@ChildrenOfUr on Twitter" href="https://twitter.com/childrenofur">
                        <i class="fa fa-fw fa-twitter-square"></i>
                    </a>
                    <a title="Children of Ur Code on GitHub" href="https://github.com/ChildrenOfUr/coUclient">
                        <i class="fa fa-fw fa-github-square"></i>
                    </a>
                    <a title="Email publicrelations@childrenofur.com" href="mailto:publicrelations@childrenofur.com">
                        <i class="fa fa-fw fa-envelope-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

<!-- Footer -->
<div class="footer navbar-default navbar-static-top">
    <div class="container">
        <p class="navbar-text navbar-left">
            &copy;{% now "Y" %} Children of Ur <span class="hidden-xs">Development Team</span> - <a
                style="cursor: pointer;" type="button" id="disclaimer" class="navbar-link link" rel="popover"
                data-toggle="popover">Disclaimer</a>
        <noscript>:
            <small>Children of Ur is not endorsed or affiliated with <a href="http://tinyspeck.com" target="_blank">Tiny
                Speck</a> (the original developers of <a href="http://glitchthegame.com/" target="_blank">Glitch</a>) in
                any way. Enable JavaScript to hide this message.
            </small>
        </noscript>
        </p>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "cou_site/js/bootstrap.min.js" %}"></script>
<script>
    $('#disclaimer').popover({
        'placement': 'top',
        'title': 'Disclaimer <button onclick="$(&quot;#disclaimer&quot;).popover(&quot;hide&quot;);" class="pull-right close" data-dismiss="popover" style="margin-top: -2px;">&times;</button>',
        'content': 'Children of Ur is not endorsed or affiliated with <a href="http://tinyspeck.com" target="_blank">Tiny Speck</a> (the original developers of <a href="http://glitchthegame.com/" target="_blank">Glitch</a>) in any way.',
        'html': 'true',
        'trigger': 'click manual'
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
