{% extends "_page.html" %}
{% load static %}

{% block title %}
    <title>About | Children of Ur</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">
                About CoU
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{% static "cou_site/img/npc/flamingo_flamingo.png" %}" class="pull-right" alt="Flamingo Flamingo">
                <h2>We're making the world a little bright Ur.</h2>
                <p>
                    Children of Ur is a 2D browser-based game in the early stages of development. It's a social
                    multiplayer
                    set in a big world where you play with your friends. We're building the game from the ground up, and
                    you
                    may encounter bugs while playing. Updates are posted weekly, if not daily.
                </p>
                <p>
                    There's a lot more to come! Watch out for more updates in the near future, and check out our
                    <a href="about/features">current features</a>.
                </p>

                <div class="clearfix"></div>

                <img src="{% static "cou_site/img/npc/rube.png" %}" class="pull-left pl-sp" alt="Rube">
                <h2>We stand on the shoulders of Giants.</h2>
                This game is a spinoff to Glitch™ the Game, which ran during 2009-2012, but eventually closed due to
                lack of funding. The developers of the game, Tiny Speck Inc., released much of the code and art assets
                from the game into public domain. As such, we are recreating the world of Glitch, and have plans to
                expand the original universe.

                <div class="clearfix"></div>

                <img src="{% static "cou_site/img/npc/frog.png" %}" class="pull-right" alt="Frog">
                <h2>Designed in the spirit of the open web.</h2>
                <p>
                    So just how are we making the game? We are building the game in open technologies, very much in the
                    spirit of the web. Most of the code so far is written in Dart, a newer web programming language
                    created by Google. All of the technologies we are using are based in HTML5, a web standard promoting
                    accessibility and mobility. In doing so, we can create the code for free, you can play in almost any
                    browser (including many mobile browsers), and you'll never need to download anything to play.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header section-divider">
                    <h2 id="team">
                        <a href="#team"><i class="fa fa-bookmark"></i></a>
                        Meet the Team
                    </h2>
                </div>
            </div>
        </div>

        <!-- Team -->
        <div class="row">
            <!-- List -->
            {% for group in team %}
                <div class="col-md-4">
                    {% for member in group %}
                        <a href="team/{{ member.slug }}" class="thumbnail thumbnail-wh thumbnail-pt thumbnail-bg"
                           style="background-image: url(/static/cou_site/img/team/{{ member.slug }}_bg.jpg);">
                            <img src="/static/cou_site/img/team/{{ member.slug }}.png" alt="{{ member.name }}'s avatar">
                            <div class="caption">
                                <h2 class="text-center">{{ member.name }}</h2>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}

            <!-- Recruit -->
            <div class="col-md-8">
                <div class="thumbnail thumbnail-wh thumbnail-pt">
                    <div class="caption text-center row">
                        <div class="col-md-10 col-md-offset-1">
                            <h2>Want to help out?</h2>
                            <p>
                                Knowledge of <a href="https://dartlang.org">Dart</a> (or a willingness to learn, we can
                                help) as well as a basic understanding of HTML and CSS is suggested to help out with the
                                game itself, but you can also help with art &amp; assets (Inkscape), website design
                                (HTML, CSS, JS, PHP), etc.
                            </p>
                            <p>
                                Email us at <a href="mailto:publicrelations@childrenofur.com">publicrelations@childrenofur.com</a>
                                if you're interested.
                            </p>
                            <hr>
                            <p>
                                Don't know how to program? Continue playing and reporting bugs, or <a href="guide">become
                                a guide</a>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Map -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header section-divider">
                    <h2 id="map">
                        <a href="#map"><i class="fa fa-bookmark"></i></a>
                        Where are we?
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://childrenofur.com/worldmap/" class="well well-sm" seamless="" width="100%" height="640px"
                        frameborder="none"></iframe>
            </div>
            <div class="col-md-12">
                <strong>Privacy Notice: </strong> Locations are based only on IP addresses, which are sent anonymously
                to <a href="https://freegeoip.net/">freegeoip.net</a> for lookup. All players who have connected since
                the last server restart are shown to prevent singling out one online player. No IP addresses are
                persisted between server restarts in any file or database. We do not link IP addresses to player
                accounts.
            </div>
        </div>
    </div>
{% endblock %}
