{% extends "_page.html" %}
{% load static %}

{% block title %}
    <title>Guides | Children of Ur</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "cou_site/css/guides.css" %}">
    {% include "_randbg.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "cou_site/js/jquery.timeago.js" %}"></script>
    <script src="{% static "cou_site/js/guides.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Info -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <a href="#guide-list" title="Who are the current guides?">
                    <img src="{% static "cou_site/img/guides.png" %}" class="img-responsive center-block" alt="Guides">
                </a>
                <p class="text-justify semi-lead">
                    Guides are players who help new players out by providing them with answers to common questions,
                    directions, and friendship in a strange, new place.
                </p>
                <hr>
                <p class="bold text-center">Benefits of becoming a guide:</p>

                <div class="row">
                    <div class="col-md-6">
                        <h1 class="guide-label" title="Enlarged to show detail.">guide</h1>
                        <p class="text-center">A guide label next to your username in game chats and on the forums.</p>
                    </div>
                    <div class="col-md-6">
                        <h1 class="guide-ring" title="Actual size."></h1>
                        <p class="text-center">A gold ring around your avatar on your game screen.</p>
                    </div>
                </div>

                <hr>
                <p class="bold text-center">Common questions guides should be able to answer:</p>

                <blockquote class="small">
                    This tree doesn't want me to pee on it. Where do I buy a watering can?
                </blockquote>
                <blockquote class="small blockquote-reverse">
                    How do I get currants?
                </blockquote>
                <blockquote class="small">
                    Where can I find a produce vendor?
                </blockquote>
                <blockquote class="small blockquote-reverse">
                    How did you insert that emoticon?
                </blockquote>
                <blockquote class="small">What level am I on?
                </blockquote>
                <blockquote class="small blockquote-reverse">
                    What is iMG for?
                </blockquote>
                <blockquote class="small">
                    What's the difference between Global Chat and Local Chat?
                </blockquote>
                <blockquote class="small blockquote-reverse">
                    What does mood do?
                </blockquote>
                <blockquote class="small">
                    Where am I?
                </blockquote>
                <blockquote class="small blockquote-reverse">
                    My energy and mood are low. What can I do?
                </blockquote>

                <hr>
                <p class="bold text-center">Responsibilities of guides:</p>

                <div class="row hidden-xs">
                    <div class="col-md-4 col-sm-4">
                        <img src="{% static "cou_site/img/player.png" %}"
                             class="center-block img-responsive" alt="Player">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="{% static "cou_site/img/npc/greeterbot.png" %}"
                             class="center-block img-responsive" alt="Greeterbot">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="{% static "cou_site/img/npc/craftybot.png" %}"
                             class="center-block img-responsive" alt="Craftybot">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <p class="text-center">Answering questions from players (plus Live Help)</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p class="text-center">Welcoming new players to the world</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p class="text-center">Learning about changes to the game</p>
                    </div>
                </div>
                <div id="req-noguide">
                    <hr>
                    {#                    <!-- TEST -->#}
                    {#                    <p class="semi-lead">#}
                    {#                        Ready to become a guide? There's a test to make sure you know your stuff,#}
                    {#                        but it shouldn't be hard if you've played enough!#}
                    {#                    </p>#}
                    {#                    <p class="text-center">#}
                    {#                        <a href="#guide-test-modal" data-toggle="modal" class="btn btn-success btn-lg center-block">#}
                    {#                            Take the test!#}
                    {#                        </a>#}
                    {#                    <p class="text-center text-muted">Try to take the test without looking at the game, if you can.</p>#}
                    {#                    <!-- TEST -->#}

                    <!-- CLOSED MESSAGE -->
                    <p class="text-center text-info">We have enough guides at the moment, but check back later for more
                        opportunities!</p>
                    <!-- end CLOSED MESSAGE -->
                </div>
            </div>
        </div>
        <!-- Current -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <hr>
                <div class="img-thumbnail randbg graphic center-block">
                    <h2 class="text-center" id="guide-list-title">Current Guides</h2>
                    <ul id="guide-list"></ul>
                </div>
            </div>
        </div>

        <!-- Test -->
        <div class="modal fade" id="guide-test-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Become a Guide</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="http://goo.gl/forms/RiucnFsnh8" seamless="" width="100%" height="550px"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
