{% extends "_page.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "cou_site/css/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "cou_site/css/flipcountdown.css" %}">
    {% include "_randbg.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "cou_site/js/jquery.flipcountdown.js" %}"></script>
    <script src="{% static "cou_site/js/entitycount.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron randbg" id="jumbotron-home">
        <div class="container">
            <div class="row graphic">
                <div class="col-md-8 col-md-offset-3">
                    <h1>Children of</h1>
                    <img src="{% static "cou_site/img/icons/ur_logo_shadow.png" %}" alt="Ur" width="auto" height="200px">
                </div>
            </div>
            <div class="row graphic">
                <div class="col-md-12">
                    <h1 class="text-center">A Game of Giant Imagination</h1>
                    <h2 class="text-center">Join us for early access!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <a href="https://childrenofur.com/game/" class="btn btn-lg button-xl btn-success center-block">
                        Play Now</a>
                </div>
            </div>
        </div>
{# TODO: Latest blog post #}
{#        <div class="row graphic">#}
{#            <div class="col-md-10 col-md-offset-1">#}
{#                <h3 class="text-center">#}
{#                    From the blog:#}
{#                    <strong>#}
{#                        <script type="text/javascript">#}
{#                            let post_title = document.getElementById("recentpost-title").innerHTML;#}
{#                            let post_link = document.getElementById("recentpost-url").innerHTML;#}
{#                            document.write('<a href="' + post_link + '">' + post_title + '</a>');#}
{#                        </script>#}
{#                    </strong>#}
{#                </h3>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-1">
                <p class="text-justify semi-lead">
                    Children of Ur is a massively-multiplayer game, playable in the browser and chock full of fun.
                    The game is set in the vast, imaginative world of Ur, dreamt up by eleven Giants and shaped by
                    players
                    all over the globe.
                </p>
                <p class="text-justify semi-lead">
                    The game is a spinoff of <a href="http://glitchthegame.com" target="_blank">Glitch™ the Game</a>,
                    featuring new areas, updated storylines, and a whole host of new things to come. It is currently in
                    early development and is available to play now. Still interested?
                    <a href="about">Learn More <i class="fa fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="col-md-2 col-sm-3 hidden-xs">
                <br class="visible-sm">
                <img src="{% static "cou_site/img/npc/hk02041.png" %}" class="img-responsive" alt="Heli Kitty">
            </div>
        </div>

        <!-- Stats flip display -->
        <div class="row" id="countStats">
            <div class="col-md-12" id="countContainer">
                <span id="flipcounter"></span>
                <span id="countText"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <!-- Call to action NPCs -->
        <div class="row" id="cta-imgs">
            <div class="col-md-3 col-sm-3 hidden-xs cta-slice-div"
                 style="background-image: url('{% static "cou_site/img/cta/cta_bg3_1.png" %}');"></div>
            <div class="col-md-3 col-sm-3 hidden-xs cta-slice-div"
                 style="background-image: url('{% static "cou_site/img/cta/cta_bg3_2.png" %}');"></div>
            <div class="col-md-3 col-sm-3 hidden-xs cta-slice-div"
                 style="background-image: url('{% static "cou_site/img/cta/cta_bg3_3.png" %}');"></div>
            <div class="col-md-3 col-sm-3 col-xs-12 cta-slice-div"
                 style="background-image: url('{% static "cou_site/img/cta/cta_bg3_4.png" %}');"></div>
            <div class="col-md-12 text-center">
                <a href="https://childrenofur.com/game/" id="cta-slice-cta" class="btn btn-lg button-xl btn-danger">
                    Try the Game
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
{% endblock %}
