{% extends "_page.html" %}
{% load static %}

{% block title %}
    <title>Notes | Children of Ur</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "cou_site/css/notes.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "cou_site/js/jquery.timeago.js" %}"></script>
    <script src="{% static "cou_site/js/notes.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-center">Dropped Notes</h1>
        </div>
        <div id="note-board">
            <h1 id="note-loading">Sweeping streets&#8230;</h1>
            <ul id="note-list"></ul>
        </div>
        <br>
        <p class="text-center text-sm text-info">Scroll down to load more.</p>
    </div>
{% endblock %}
